@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'), url('../assets/fonts/Oswaldlight.woff2') format('woff2'), url('../assets/fonts/Oswaldlight.woff') format('woff'), url('../assets/fonts/Oswaldlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../assets/fonts/Oswaldregular.woff2') format('woff2'), url('../assets/fonts/Oswaldregular.woff') format('woff'), url('../assets/fonts/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url('../assets/fonts/Oswalddemibold.woff2') format('woff2'), url('../assets/fonts/Oswalddemibold.woff') format('woff'), url('../assets/fonts/Oswalddemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Heavy'), local('Oswald-Heavy'), url('../assets/fonts/Oswaldheavy.woff2') format('woff2'), url('../assets/fonts/Oswaldheavy.woff') format('woff'), url('../assets/fonts/Oswaldheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'), url('../assets/fonts/Oswaldmedium.woff2') format('woff2'), url('../assets/fonts/Oswaldmedium.woff') format('woff'), url('../assets/fonts/Oswaldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url('../assets/fonts/Oswaldextralight.woff2') format('woff2'), url('../assets/fonts/Oswaldextralight.woff') format('woff'), url('../assets/fonts/Oswaldextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'), url('../assets/fonts/Oswaldbold.woff2') format('woff2'), url('../assets/fonts/Oswaldbold.woff') format('woff'), url('../assets/fonts/Oswaldbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../assets/fonts/Robotothin.woff2') format('woff2'), url('../assets/fonts/Robotothin.woff') format('woff'), url('../assets/fonts/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../assets/fonts/Robotolight.woff2') format('woff2'), url('../assets/fonts/Robotolight.woff') format('woff'), url('../assets/fonts/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto.woff2') format('woff2'), url('../assets/fonts/Roboto.woff') format('woff'), url('../assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Robotomedium.woff2') format('woff2'), url('../assets/fonts/Robotomedium.woff') format('woff'), url('../assets/fonts/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Robotobold.woff2') format('woff2'), url('../assets/fonts/Robotobold.woff') format('woff'), url('../assets/fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/Robotoblack.woff2') format('woff2'), url('../assets/fonts/Robotoblack.woff') format('woff'), url('../assets/fonts/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../assets/fonts/opensansbold.woff2') format('woff2'), url('../assets/fonts/opensansbold.woff') format('woff'), url('../assets/fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}