@import 'normalize.css';
@import 'fonts.scss';
@import 'varriables.scss';
*{
    padding: 0;
    margin: 0;
}
.accent{
    color: $blue;
}
body{
    font-style: normal;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    line-height: 136%;
    font-size: 16px;
    color: $main-color;
    @media screen and (max-width: 720px){
        font-size: 14px;
        line-height: 130%;
    }
}
ul, li{
    list-style: none;
}
h1, h2, h3, h4{
    font-family: 'Oswald';
    font-weight: 700;
}
h1{
    font-size: 72px;
    @media screen and (max-width: 840px){
        font-size: 60px;
    }
    @media screen and (max-width: 720px){
        font-size: 55px;
    }
}
h2{
    font-size: 68px;
    @media screen and (max-width: 840px){
        font-size: 55px;
    }
    @media screen and (max-width: 720px){
        font-size: 45px;
    }
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
.container {
   //border: 1px dotted #ff000070;
    position: relative;
    width: 1140px;
    left: 50%;
    transform: translate(-50%);
    @media screen and (max-width: 1200px){
        width: 720px;
    }
    @media screen and (max-width: 840px){
        width: 560px;
    }
    @media screen and (max-width: 720px){
        width: 460px;
    }
    @media screen and (max-width: 480px){
        width: 280px;
    }
}

.header {
    position: relative;
    background: $first-screen-bg;
    background: linear-gradient(180deg, $first-screen-bg 86%, rgba(255,255,255,0) 100%);
    padding-top: 22px;

    overflow-x: hidden;
    &__decor-1,
    &__decor-2,
    &__decor-3{
        display: flex;
        align-items: flex-end;
        position: absolute;
        object-position: left;
        object-fit: contain;
        left: -330px;
        top: -22px;
        width: 1150px;
        height: 810px;
        z-index: -1;
        @media screen and (max-width: 1200px){
            left: -270px;
        }
    }
    &__decor-2{
        left: auto;
        top: auto;
        right: -480px;
        width: 1050px;
        bottom: 20px;
        @media screen and (max-width: 1280px){
            right: -400px;
        }
        @media screen and (max-width: 1200px){
            right: -360px;
            width: 860px;
            height: 1300px;
        }
        @media screen and (max-width: 840px){
            right: -320px;
        }
        @media screen and (max-width: 480px){
            right: -460px;
        }
    }
    &__decor-3{
        height: 150px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        left: 0;
        top: auto;
        position: absolute;
        width: 100%;
        z-index: 1;
        bottom: 0;
        img{
            object-position: bottom;
            object-fit: cover;
            width: 100%;
        }
    }
    &__offer{
        margin-top: 15px;
        display: flex;
    }
    .container{
        min-height: 100vh;
    }
}
.head-wrapper{
    display: grid;
    grid-template-areas: 't i' 's i';
    max-width: 642px;
    @media screen and (max-width: 1200px){
        max-width: unset;
        margin-top: 10px;
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 't' 's' 'i';
    }
    @media screen and (max-width: 480px){
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offer__title{
        grid-area: t;
    }
    .offer__sub-title{
        grid-area: s;
        white-space: nowrap;
        @media screen and (max-width: 720px){
            white-space: normal;
        }
    }
    .offer__logo{
        grid-area: i;
        margin-top: -10px;
        width: 250px;
        height: 180px;
        object-fit: contain;
        object-position: center;
        @media screen and (max-width: 1200px){
            justify-self: flex-end;
            height: 185px;
        }
        @media screen and (max-width: 840px){
            margin-right: -70px;
        }
        @media screen and (max-width: 720px){
            width: 180px;
            height: 140px;
            margin: 0;
        }
        @media screen and (max-width: 480px){
            width: 250px;
            height: 180px;
            margin: 0;
        }
    }
}
.offer {
    display: grid;
    &__sub-title{
        line-height: 100%;
        font-weight: 300;
        margin-top: -25px;
        margin-bottom: 15px;
        @media screen and (max-width: 480px){
            margin-top: -15px;
            margin-bottom: 20px;
        }
    }
    &__description{
        grid-area: d;
        max-width: 540px;
        @media screen and (max-width: 1200px){
            min-width: 540px;
            max-width: unset;
        }
        @media screen and (max-width: 720px){
            min-width: 460px;
            max-width: unset;
        }
        @media screen and (max-width: 480px){
            min-width: 280px;
            width: 280px;
            margin-top: 25px;
        }
    }
    &__theses {
        margin-top: 33px;
        margin-left: 29px;
        display: grid;
        grid-template-areas: 'f s' 'f t';
        @media screen and (max-width: 1200px){
            margin-top: 70px;
        }
        @media screen and (max-width: 840px){
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
    }
    &__text{
        font-size: 18px;
    }
    grid-template-areas: 'l a' 't form' 'd form' 'f form';
    @media screen and (max-width: 1200px){
        grid-template-areas: 'l a' 't t' 'd d' 'f form';
    }
    @media screen and (max-width: 840px){
        grid-template-areas: 'l a a' 't t t' 'd d d' 'f f f' 'form form form';
    }
    @media screen and (max-width: 720px){
        width: 460px;
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 'a' 'l' 't' 'f' 'd' 'form';
    }
    &__logo-head{
        width: 194px;
        height: 85px;
        grid-area: l;
        @media screen and (max-width: 720px){
            width: 150px;
            height: 75px;
        }
        @media screen and (max-width: 480px){
            justify-self: left;
        }
    }
    &__awards{
        grid-area: a;
        align-items: flex-start;
        justify-self: end;
        @media screen and (max-width: 480px){
            justify-self: left;
        }
    }
    .head-wrapper{
        grid-area: t;
    }
    &__features{
        grid-area: f;
    }
    &__form{
        grid-area: form;
        @media screen and (max-width: 1200px){
           margin-left: -30px;
        }
    }
}
.form {
    margin-top: 85px;

    @media screen and (max-width: 1200px){
        margin-top: 33px;
    }
    @media screen and (max-width: 840px){
        margin-top: 50px;
        margin-left: 0;
    }
    margin-bottom: 130px;
    width: 315px;
    @media screen and (max-width: 480px){
        width: 250px;
    }
    padding: 23px 15px;
    background-color: #F3F3F3;
    box-shadow: 5px 4px 11px 6px rgba(4, 80, 104, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
        h4{
            margin-bottom: 2px;
        }
    }
    &__old-price{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
        text-transform: uppercase;
        font-size: 12px;
        color: #ADADAD;
        .crossed{
            font-size: 16px;
        }
    }
    &__timer {
        margin-top: 10px;
    }
    &__button{
        font-family: 'Oswald';
        color: #fff;
        text-transform: uppercase;
        outline: none;
        padding: 17px 20px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        border: none;
        background: $main-gradient;
        font-family: 'Open Sans';
        position: relative;
        z-index: 1;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    .button-wrapper{
        margin-top: 20px;
        z-index: 10;
        position: relative;
        &:hover .form__button{
            bottom: 1px;
        }
        &:active .form__button{
            bottom: -2px;
        }
        .button-decor{
            transition: all .2s ease-in-out;
            width: 100%;
            height: 100%;
            background: #15700D;
            position: absolute;
            left: 0;
            top: auto;
            border-radius: 30px;
            bottom: -3px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__info{
        font-size: 11px;
        line-height: 110%;
        margin-top: 20px;
        width: 216px;
    }
}
.input-wrapper{
    position: relative;
    label{
        display: inline-block;
        margin-bottom: 9px;
        font-size: 15px;
        &::after{
            content: ' *';
            color: $red;
        }
    }
    &:not(:first-child){
        margin-top: 20px;
    }
    width: 100%;
    .form__input{
        width: 100%;
        background-color: #F0F0F0;
        border-radius: 3px;
        border: none;
        padding: 10px 15px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid transparent;
        color: #838383;
        &:focus{
            background: #fff;
            border-color: $green;
            color: $main-color;
        }
        &.input{
            width: calc(100% - 32px);
        }
    }
    .arrow{
        position: absolute;
        bottom: 13px;
        right: 15px;
        width: 10px;
        height: 12px;
        background: url('../assets/icons/ICON__DOWN.svg') no-repeat center / contain;;
    }
    
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__info {
        font-size: 8px;
    }
    .timer-wrapper{
        display: flex;
    }
    .timer-item{
        width: 31px;
        height: 30px;
        border-radius: 5px;
        background: $orange-gradient;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:not(:last-child){
            margin-right: 6px;
        }
        &::after{
            content: attr(data-title);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 8px;
            color: $main-color;
        }
    }
}

.price {
    display: flex;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin-top: 10px;
}
.text-after {
    margin-top: 5px;
}
.text-price {
    font-size: 36px;
    color: $green;
    margin: 0 10px;
}

.crossed{
    text-decoration: line-through;
}
.features {
    margin-top: 30px;
    max-width: 560px;
    display: grid;
    grid-template-areas: 'i f .' 'i . t' 'i s .';
    @media screen and (max-width: 1200px){
        grid-template-areas: 'i i' 'f .' '. t' 's .';
    }
    @media screen and (max-width: 840px){
        grid-template-areas: 'i f .' 'i . t' 'i s .';
    }
    @media screen and (max-width: 720px){
        grid-template-areas: 'i f' 'i s' 'i t';
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 'i i i' 'f s t';
    }
    @media screen and (max-width: 480px){
        width: 280px;
    }
    &__item {
        @media screen and (max-width: 1200px){
            margin-top: -100px;
        }
        @media screen and (max-width: 480px){
            margin: 0;
        }
        &:nth-child(1){
            grid-area: i;
            margin-top: -45px;
            margin-right: 35px;
            @media screen and (max-width: 1200px){
                margin-top: 25px;
                justify-self: start;
                margin-right: 10px;
                img{
                    width: 300px;
                    height: 380px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 840px){
                margin-top: 10px;
                justify-self: start;
                margin-right: -30px;
                img{
                    width: 270px;
                    height: 360px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 720px){
                margin-top: -30px;
                justify-self: start;
                margin-right: -30px;
                img{
                    width: 290px;
                    height: 420px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 480px){
                img{
                    width: 280px;
                    height: 380px;
                }
            }
        }
        &:nth-child(2){
            grid-area: f;
            margin-bottom: -120px;
            @media screen and (max-width: 1200px){ margin-bottom: -100px; }
            @media screen and (max-width: 840px){ margin: 80px 0 -90px 0; }
            @media screen and (max-width: 720px){ margin: -50px 0 0 0; }
        }
        &:nth-child(3){
            grid-area: t;
            margin-left: 20px;
            @media screen and (max-width: 1200px){ margin-left: -50px; }
            @media screen and (max-width: 840px){ margin: 10px 0 0 -15px; }
            @media screen and (max-width: 720px){ margin: 0px 0 0 0; }
        }
        &:nth-child(4){
            margin-top: -120px;
            @media screen and (max-width: 1200px){ margin-top: -130px; }
            @media screen and (max-width: 840px){ margin:  -80px 0 0 0; }
            @media screen and (max-width: 720px){ margin: -20px 0 0 0; }
            grid-area: s;
        }
    }
}
.item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $main-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    @media screen and (max-width: 720px){ 
        width: 100px;
        height: 100px;
    }
    @media screen and (max-width: 480px){ 
        width: 80px;
        height: 80px;
    }
}

.theses {
    &__item {
        position: relative;
        &:nth-child(1){
            grid-area: f;
            margin-right: 66px;
            
        }
        &:nth-child(2){
            grid-area: s;
        }
        &:nth-child(3){
            margin-top: 65px;
            grid-area: t;
        }
        
        &::before{
            content: '';
            margin-top: -25px;
            transform: translateX(-100%);
            margin-left: 5px;
            position: absolute;
            width: 34px;
            height: 42px;
            background: url('../assets/icons/ICON__FLAG.svg') no-repeat center / contain;
            z-index: -1;
        }
        @media screen and (max-width: 840px){
            &:nth-child(1){
                margin: 46px 0 0 0;
            }
            &:nth-child(2),
            &:nth-child(3){
                margin: 30px 0 0 0;
            }
        }
    }
}
.these {
    max-width: 219px;
    @media screen and (max-width: 840px){
        max-width: unset;
    }
}


.awards {
    display: flex;
    margin-right: 175px;
    margin-top: 20px;
    @media screen and (max-width: 1200px){
        margin-right: 0;
    }
    @media screen and (max-width: 480px){
        margin: 0;
    }
    &__item {
        &:not(:last-child){
            margin-right: 20px;
            @media screen and (max-width: 1200px){
                margin-right: 14px;
            }
            @media screen and (max-width: 840px){
                margin-right: 25px;
            }
            @media screen and (max-width: 720px){
                margin-right: 5px;
            }
        }
        @media screen and (max-width: 840px){
            img{
                object-fit: contain;
                object-position: center;
            }
            width: 54px;
        }
        @media screen and (max-width: 720px){
            img{
                width: 45px;
                object-fit: contain;
            }
        }
    }
}
.award {
    &__img {
        object-fit: contain;
        object-position: center;
    }
}

.main {
}
.footer {
}
.answers {
    height: 100vh;
    background: #fff;
}
.advantages {
}
.courses {
}
.reviews {
}
.weight {
}
.summary {
}
