@import 'normalize.css';
@import 'fonts.scss';
@import 'varriables.scss';
*{
    padding: 0;
    margin: 0;
}
.accent{
    color: $blue;
}
body{
    font-style: normal;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    line-height: 136%;
    font-size: 16px;
    color: $main-color;
}
ul, li{
    list-style: none;
}
h1, h2, h3, h4{
    font-family: 'Oswald';
    font-weight: 700;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 68px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
.container {
    position: relative;
    width: 1140px;
    left: 50%;
    transform: translate(-50%);
}

.header {
    position: relative;
    background-color: $first-screen-bg;
    padding-top: 22px;
    &__logo{
        width: 194px;
        height: 85px;
    }
    .header-logo-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    overflow-x: hidden;
    &__decor-1,
    &__decor-2,
    &__decor-3{
        position: absolute;
        object-position: left;
        object-fit: contain;
        left: -330px;
        top: -22px;
        width: 1150px;
        height: 810px;
        z-index: -1;
    }
    &__decor-2{
        left: auto;
        top: auto;
        right: -480px;
        width: 1050px;
        bottom: 20px;
    }
    &__decor-3{
        left: 0;
        top: auto;
        position: absolute;
        object-position: bottom;
        object-fit: contain;
        width: 100%;
        height: 150px;
        z-index: 1;
        bottom: 0;
    }
    &__offer{
        margin-top: 15px;
        display: flex;
    }
    .container{
        min-height: 100vh;
    }
}
.head-wrapper{
    display: grid;
    grid-template-areas: 't i' 's i';
    max-width: 642px;
    .offer__title{
        grid-area: t;
    }
    .offer__sub-title{
        grid-area: s;
    }
    .offer__logo{
        grid-area: i;
        margin-top: -15px;
        width: 250px;
        height: 180px;
        object-fit: contain;
        object-position: center;
    }
}
.offer {
    &__sub-title{
        line-height: 100%;
        font-weight: 300;
        margin-top: -25px;
        margin-bottom: 15px;
    }
    &__description{
        max-width: 540px;
    }
    &__theses {
        margin-top: 33px;
        margin-left: 29px;
        display: grid;
        grid-template-areas: 'f s' 'f t';
    }
    &__text{
        font-size: 18px;
    }
}
.form {
    margin-top: 100px;
    margin-bottom: 130px;
    width: 315px;
    padding: 23px 15px;
    background-color: #F3F3F3;
    box-shadow: 5px 4px 11px 6px rgba(4, 80, 104, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
        h4{
            margin-bottom: 2px;
        }
    }
    &__old-price{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
        text-transform: uppercase;
        font-size: 12px;
        color: #ADADAD;
        .crossed{
            font-size: 16px;
        }
    }
    &__timer {
        margin-top: 10px;
    }
    &__button{
        font-family: 'Oswald';
        color: #fff;
        text-transform: uppercase;
        outline: none;
        padding: 17px 20px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        border: none;
        background: $main-gradient;
        font-family: 'Open Sans';
        position: relative;
        z-index: 1;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    .button-wrapper{
        margin-top: 20px;
        z-index: 10;
        position: relative;
        &:hover .form__button{
            bottom: 1px;
        }
        &:active .form__button{
            bottom: -2px;
        }
        .button-decor{
            transition: all .2s ease-in-out;
            width: 100%;
            height: 100%;
            background: #15700D;
            position: absolute;
            left: 0;
            top: auto;
            border-radius: 30px;
            bottom: -3px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__info{
        font-size: 11px;
        line-height: 110%;
        margin-top: 20px;
        width: 216px;
    }
}
.input-wrapper{
    position: relative;
    label{
        display: inline-block;
        margin-bottom: 9px;
        font-size: 15px;
        &::after{
            content: ' *';
            color: $red;
        }
    }
    &:not(:first-child){
        margin-top: 20px;
    }
    width: 100%;
    .form__input{
        width: 100%;
        background-color: #F0F0F0;
        border-radius: 3px;
        border: none;
        padding: 10px 15px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid transparent;
        color: #838383;
        &:focus{
            background: #fff;
            border-color: $green;
            color: $main-color;
        }
        &.input{
            width: calc(100% - 32px);
        }
    }
    .arrow{
        position: absolute;
        bottom: 13px;
        right: 15px;
        width: 10px;
        height: 12px;
        background: url('../assets/icons/ICON__DOWN.svg') no-repeat center / contain;;
    }
    
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__info {
        font-size: 8px;
    }
    .timer-wrapper{
        display: flex;
    }
    .timer-item{
        width: 31px;
        height: 30px;
        border-radius: 5px;
        background: $orange-gradient;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:not(:last-child){
            margin-right: 6px;
        }
        &::after{
            content: attr(data-title);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 8px;
            color: $main-color;
        }
    }
}

.price {
    display: flex;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin-top: 10px;
}
.text-after {
    margin-top: 5px;
}
.text-price {
    font-size: 36px;
    color: $green;
    margin: 0 10px;
}

.crossed{
    text-decoration: line-through;
}
.features {
    margin-top: 30px;
    max-width: 560px;
    display: grid;
    grid-template-areas: 'i f .' 'i . t' 'i s .';
    &__item {
        &:nth-child(1){
            grid-area: i;
            margin-top: -45px;
            margin-right: 35px;
        }
        &:nth-child(2){
            grid-area: f;
            margin-bottom: -100px;
        }
        &:nth-child(3){
            grid-area: t;
        }
        &:nth-child(4){
            margin-top: -100px;
            grid-area: s;
        }
    }
}
.item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $main-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.theses {
    &__item {
        position: relative;
        &:nth-child(1){
            grid-area: f;
            margin-right: 66px;
        }
        &:nth-child(2){
            grid-area: s;
        }
        &:nth-child(3){
            margin-top: 65px;
            grid-area: t;
        }
        
        &::before{
            content: '';
            margin-top: -25px;
            transform: translateX(-100%);
            margin-left: 5px;
            position: absolute;
            width: 34px;
            height: 42px;
            background: url('../assets/icons/ICON__FLAG.svg') no-repeat center / contain;
            z-index: -1;
        }
    }
}
.these {
    max-width: 219px;
}


.awards {
    display: flex;
    margin-right: 175px;
    &__item {
        &:not(:last-child){
            margin-right: 14px;
        }
    }
}
.award {
    &__img {
        object-fit: contain;
        object-position: center;
    }
}

.main {
}
.footer {
}
.answers {
    height: 100vh;
    background: #fff;
}
.advantages {
}
.courses {
}
.reviews {
}
.weight {
}
.summary {
}
