@import 'normalize.css';
@import 'fonts.scss';
@import 'varriables.scss';
*{
    padding: 0;
    margin: 0;
}
.accent{
    color: $blue;
    &.red{
        color: $red;
    }
    &.green{
        color: $green;
    }
}
body{
    font-style: normal;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    line-height: 136%;
    font-size: 16px;
    color: $main-color;
    @media screen and (max-width: 570px){
        font-size: 14px;
        line-height: 130%;
    }
}
ul, li{
    list-style: none;
}
h1, h2, h3, h4{
    font-family: 'Oswald';
    font-weight: 700;
}
h1{
    font-size: 72px;
    @media screen and (max-width: 765px){
        font-size: 60px;
    }
    @media screen and (max-width: 570px){
        font-size: 55px;
    }
}
h2{
    font-size: 68px;
    @media screen and (max-width: 765px){
        font-size: 55px;
    }
    @media screen and (max-width: 570px){
        font-size: 45px;
    }
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
.container {
    //border: 1px dotted #ff000070;
    position: relative;
    width: 1140px;
    left: 50%;
    transform: translate(-50%);
    @media screen and (max-width: 1200px){
        width: 720px;
    }
    @media screen and (max-width: 765px){
        width: 530px;
    }
    @media screen and (max-width: 570px){
        width: 460px;
    }
    @media screen and (max-width: 480px){
        width: 280px;
    }
}

.header {
    position: relative;
    background: $first-screen-bg;
    background: linear-gradient(180deg, $first-screen-bg 86%, rgba(255,255,255,0) 100%);
    padding-top: 22px;

    overflow-x: hidden;
    &__decor-1,
    &__decor-2,
    &__decor-3{
        display: flex;
        align-items: flex-end;
        position: absolute;
        object-position: left;
        object-fit: contain;
        left: -330px;
        top: -22px;
        width: 1150px;
        height: 810px;
        z-index: -1;
        @media screen and (max-width: 1200px){
            left: -270px;
        }
    }
    &__decor-2{
        left: auto;
        top: auto;
        right: -480px;
        width: 1050px;
        bottom: 20px;
        @media screen and (max-width: 1280px){
            right: -400px;
        }
        @media screen and (max-width: 1200px){
            right: -360px;
            width: 860px;
            height: 1300px;
        }
        @media screen and (max-width: 765px){
            right: -320px;
        }
        @media screen and (max-width: 570px){
            right: -380px;
        }
        @media screen and (max-width: 480px){
            right: -460px;
        }
    }
    &__decor-3{
        height: 150px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        left: 0;
        top: auto;
        position: absolute;
        width: 100%;
        z-index: 1;
        bottom: 0;
        img{
            object-position: bottom;
            object-fit: cover;
            width: 100%;
        }
    }
    &__offer{
        margin-top: 15px;
        display: flex;
    }
    .container{
        min-height: 100vh;
    }
}
.head-wrapper{
    display: grid;
    grid-template-areas: 't i' 's i';
    max-width: 642px;
    @media screen and (max-width: 1200px){
        max-width: unset;
        margin-top: 10px;
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 't' 's' 'i';
    }
    @media screen and (max-width: 480px){
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .offer__title{
        grid-area: t;
    }
    .offer__sub-title{
        grid-area: s;
        white-space: nowrap;
        @media screen and (max-width: 570px){
            white-space: normal;
        }
    }
    .offer__logo{
        grid-area: i;
        margin-top: -10px;
        width: 250px;
        height: 180px;
        object-fit: contain;
        object-position: center;
        @media screen and (max-width: 1200px){
            justify-self: flex-end;
            height: 185px;
        }
        @media screen and (max-width: 765px){
            margin-right: -70px;
        }
        @media screen and (max-width: 570px){
            width: 180px;
            height: 140px;
            margin: 0;
        }
        @media screen and (max-width: 480px){
            width: 250px;
            height: 180px;
            margin: 0;
            align-self: center;
        }
    }
}
.offer {
    display: grid;
    &__sub-title{
        line-height: 100%;
        font-weight: 300;
        margin-top: -25px;
        margin-bottom: 15px;
        @media screen and (max-width: 480px){
            margin-top: -15px;
            margin-bottom: 20px;
        }
    }
    &__description{
        grid-area: d;
        max-width: 540px;
        @media screen and (max-width: 1200px){
            min-width: 540px;
            max-width: unset;
        }
        @media screen and (max-width: 570px){
            min-width: 460px;
            max-width: unset;
        }
        @media screen and (max-width: 480px){
            min-width: 280px;
            width: 280px;
            margin-top: 25px;
        }
        .theses {
            &__item {
                position: relative;
                &:nth-child(1){
                    grid-area: f;
                    margin-right: 66px;
                    
                }
                &:nth-child(2){
                    grid-area: s;
                }
                &:nth-child(3){
                    margin-top: 65px;
                    grid-area: t;
                }
                
                &::before{
                    content: '';
                    margin-top: -25px;
                    transform: translateX(-100%);
                    margin-left: 5px;
                    position: absolute;
                    width: 34px;
                    height: 42px;
                    background: url('../assets/icons/ICON__FLAG.svg') no-repeat center / contain;
                    z-index: -1;
                }
                @media screen and (max-width: 765px){
                    &:nth-child(1){
                        margin: 46px 0 0 0;
                    }
                    &:nth-child(2),
                    &:nth-child(3){
                        margin: 30px 0 0 0;
                    }
                }
            }
        }
        .these {
            max-width: 219px;
            @media screen and (max-width: 765px){
                max-width: unset;
            }
        }
    }
    &__theses {
        margin-top: 33px;
        margin-left: 29px;
        display: grid;
        grid-template-areas: 'f s' 'f t';
        @media screen and (max-width: 1200px){
            margin-top: 70px;
        }
        @media screen and (max-width: 765px){
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
    }
    &__text{
        font-size: 18px;
    }
    grid-template-areas: 'l a' 't form' 'd form' 'f form';
    @media screen and (max-width: 1200px){
        grid-template-areas: 'l a' 't t' 'd d' 'f form';
    }
    @media screen and (max-width: 765px){
        grid-template-areas: 'l a a' 't t t' 'd d d' 'f f f' 'form form form';
    }
    @media screen and (max-width: 570px){
        width: 460px;
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 'a' 'l' 't' 'f' 'd' 'form';
    }
    &__logo-head{
        width: 194px;
        height: 85px;
        grid-area: l;
        @media screen and (max-width: 570px){
            width: 150px;
            height: 75px;
        }
        @media screen and (max-width: 480px){
            justify-self: left;
        }
    }
    &__awards{
        grid-area: a;
        align-items: flex-start;
        justify-self: end;
        @media screen and (max-width: 480px){
            justify-self: left;
        }
    }
    .head-wrapper{
        grid-area: t;
    }
    &__features{
        grid-area: f;
    }
    &__form{
        grid-area: form;
        @media screen and (max-width: 1200px){
           margin-left: -30px;
        }
    }
}
span.bold{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-transform: uppercase;
}
.button{
    font-family: 'Oswald';
    color: #fff;
    text-transform: uppercase;
    outline: none;
    padding: 17px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background: $main-gradient;
    font-family: 'Open Sans';
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
    cursor: pointer;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    width: 100%;
}
.button-wrapper{
    width: 255px;
    margin-top: 20px;
    z-index: 10;
    position: relative;
    &:hover .button{
        bottom: 1px;
    }
    &:active .button{
        bottom: -2px;
    }
    .button-decor{
        transition: all .2s ease-in-out;
        width: 100%;
        height: 100%;
        background: #15700D;
        position: absolute;
        left: 0;
        top: auto;
        border-radius: 30px;
        bottom: -3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.form {
    margin-top: 85px;

    @media screen and (max-width: 1200px){
        margin-top: 33px;
    }
    @media screen and (max-width: 765px){
        margin-top: 50px;
        margin-left: 0;
    }
    margin-bottom: 130px;
    width: 315px;
    @media screen and (max-width: 480px){
        width: 250px;
    }
    padding: 23px 15px;
    background-color: #F3F3F3;
    box-shadow: 5px 4px 11px 6px rgba(4, 80, 104, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
        h4{
            margin-bottom: 2px;
        }
    }
    &__old-price{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
        text-transform: uppercase;
        font-size: 12px;
        color: #ADADAD;
        .crossed{
            font-size: 16px;
        }
    }
    &__timer {
        margin-top: 10px;
    }
    &__info{
        font-size: 11px;
        line-height: 110%;
        margin-top: 20px;
        width: 216px;
    }
}
.input-wrapper{
    position: relative;
    label{
        display: inline-block;
        margin-bottom: 9px;
        font-size: 15px;
        &::after{
            content: ' *';
            color: $red;
        }
    }
    &:not(:first-child){
        margin-top: 20px;
    }
    width: 100%;
    .form__input{
        width: 100%;
        background-color: #F0F0F0;
        border-radius: 3px;
        border: none;
        padding: 10px 15px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid transparent;
        color: #838383;
        &:focus{
            background: #fff;
            border-color: $green;
            color: $main-color;
        }
        &.input{
            width: calc(100% - 32px);
        }
    }
    .arrow{
        position: absolute;
        bottom: 13px;
        right: 15px;
        width: 10px;
        height: 12px;
        background: url('../assets/icons/ICON__DOWN.svg') no-repeat center / contain;;
    }
    
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__info {
        font-size: 8px;
    }
    .timer-wrapper{
        display: flex;
    }
    .timer-item{
        width: 31px;
        height: 30px;
        border-radius: 5px;
        background: $orange-gradient;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:not(:last-child){
            margin-right: 6px;
        }
        &::after{
            content: attr(data-title);
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 8px;
            color: $main-color;
        }
    }
}

.price {
    display: flex;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin-top: 10px;
}
.text-after {
    margin-top: 5px;
}
.text-price {
    font-size: 36px;
    color: $green;
    margin: 0 10px;
}

.crossed{
    text-decoration: line-through;
}
.features {
    margin-top: 30px;
    max-width: 560px;
    display: grid;
    grid-template-areas: 'i f .' 'i . t' 'i s .';
    @media screen and (max-width: 1200px){
        grid-template-areas: 'i i' 'f .' '. t' 's .';
    }
    @media screen and (max-width: 765px){
        grid-template-areas: 'i f .' 'i . t' 'i s .';
    }
    @media screen and (max-width: 570px){
        grid-template-areas: 'i f' 'i s' 'i t';
    }
    @media screen and (max-width: 480px){
        grid-template-areas: 'i i i' 'f s t';
    }
    @media screen and (max-width: 480px){
        width: 280px;
    }
    &__item {
        @media screen and (max-width: 1200px){
            margin-top: -100px;
        }
        @media screen and (max-width: 570px){
            margin: 0;
        }
        &:nth-child(1){
            grid-area: i;
            margin-top: -45px;
            margin-right: 35px;
            @media screen and (max-width: 1200px){
                margin-top: 25px;
                justify-self: start;
                margin-right: 10px;
                img{
                    width: 300px;
                    height: 380px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 765px){
                margin-top: 10px;
                justify-self: start;
                margin-right: -30px;
                img{
                    width: 270px;
                    height: 360px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 570px){
                margin-top: -30px;
                justify-self: start;
                margin-right: -30px;
                img{
                    width: 290px;
                    height: 420px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            @media screen and (max-width: 480px){
                img{
                    width: 280px;
                    height: 380px;
                }
            }
        }
        &:nth-child(2){
            grid-area: f;
            margin-bottom: -120px;
            @media screen and (max-width: 1200px){ margin-bottom: -100px; }
            @media screen and (max-width: 765px){ margin: 80px 0 -90px 0; }
            @media screen and (max-width: 570px){ margin: 0; }
            @media screen and (max-width: 480px){ margin: -50px 0 0 0; }
        }
        &:nth-child(3){
            grid-area: t;
            margin-left: 20px;
            @media screen and (max-width: 1200px){ margin-left: -50px; }
            @media screen and (max-width: 765px){ margin: 10px 0 0 -15px; }
            @media screen and (max-width: 570px){ margin: 0; }
        }
        &:nth-child(4){
            margin-top: -120px;
            @media screen and (max-width: 1200px){ margin-top: -130px; }
            @media screen and (max-width: 765px){ margin:  -80px 0 0 0; }
            @media screen and (max-width: 570px){ margin: 0; }
            @media screen and (max-width: 480px){ margin: -20px 0 0 0; }
            grid-area: s;
        }
    }
}
.item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $main-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    @media screen and (max-width: 570px){ 
        width: 100px;
        height: 100px;
    }
    @media screen and (max-width: 480px){ 
        width: 80px;
        height: 80px;
    }
}

.awards {
    display: flex;
    margin-right: 175px;
    margin-top: 20px;
    @media screen and (max-width: 1200px){
        margin-right: 0;
    }
    @media screen and (max-width: 480px){
        margin: 0;
    }
    &__item {
        &:not(:last-child){
            margin-right: 20px;
            @media screen and (max-width: 1200px){
                margin-right: 14px;
            }
            @media screen and (max-width: 765px){
                margin-right: 25px;
            }
            @media screen and (max-width: 570px){
                margin-right: 5px;
            }
        }
        @media screen and (max-width: 765px){
            img{
                object-fit: contain;
                object-position: center;
            }
            width: 54px;
        }
        @media screen and (max-width: 570px){
            img{
                width: 45px;
                object-fit: contain;
            }
        }
    }
}
.award {
    &__img {
        object-fit: contain;
        object-position: center;
    }
}

//ANSWERS
.answers {
    overflow-x: hidden;
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    &__decor-1{
        position: absolute;
        top: 0;
    }
    &__decor-2{
        position: absolute;
        right: 0;
        top: 450px;
        @media screen and (max-width: 1200px){
            top: 1100px;
            right: -50px;
        }
    }
    @media screen and (max-width: 760px){
        &__decor-1,
        &__decor-2{
            display: none;
        }
    }
    @media screen and (max-width: 570px){
        overflow: hidden;
        padding-top: 45px;
        margin-top: 130px;
    }
    @media screen and (max-width: 480px){
        margin-top: 20px;
    }
    margin-top: 70px;
    &__card {

    }
    &__resume {
        align-self: center;
        text-transform: uppercase;
        @media screen and (max-width: 1200px){
            text-align: center;
        }
    }
}
.container {
    display: flex;
    flex-direction: column;
}
.answers-wrapper {
    display: flex;
    justify-content: space-between;
    &:nth-child(2){
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
    }
    @media screen and (max-width: 1200px){
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.card {
    width: 555px;
    @media screen and (max-width: 1200px){
        width: 100%;
    }
    &-luck{
        .blank {
            background: $main-gradient;
            &__image {
                left: auto;
                right: 0;
                bottom: 0;
                
                @media screen and (max-width: 570px){
                    margin-right: -20px;
                }
                @media screen and (max-width: 480px){
                    margin-right: 110px;
                }
            }
            &__body{
                width: 300px;
                @media screen and (max-width: 1200px){
                    width: 500px;
                    margin-left: 45px;
                    margin-top: 40px;
                    margin-bottom: 35px;
                }
                @media screen and (max-width: 768px){
                    margin-right: 180px;
                    margin-left: 60px;
                }
                @media screen and (max-width: 480px){
                    width: 200px;
                    margin-left: 80px;
                } 
            }
        }
        align-self: flex-end;
        .card__title{
            text-align: end;
            margin-left: 90px;
            @media screen and (max-width: 1200px){
                margin-top: 100px;
                padding-left: 70px;
            }
            @media screen and (max-width: 570px){
                margin-left: 0;
            }
            @media screen and (max-width: 480px){
                margin-left: -80px;
            }
        }
    }
    &-failures{
        .blank {
            justify-content: flex-end;
        }
        .card__title{
            margin-left: 230px;
            @media screen and (max-width: 570px){
                margin-left: 170px;
            }
            @media screen and (max-width: 480px){
                margin-left: 70px;
            }
            @media screen and (max-width: 480px){
                width: 150px;
            } 
        }
    }
    &__title {
        @media screen and (max-width: 1200px){
            padding-left: 50px;
        }
        @media screen and (max-width: 760px){
            padding-left: 0;
        }
        margin-bottom: 50px;
        max-width: 260px;
        h2{
            font-size: 40px;
            line-height: 44px;
            &:nth-child(1){
                
            }
            &:nth-child(1){
                
            }
        }
    }
    &__blank {
        
    }
    &__sub-title {
        margin-bottom: 20px;
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        text-transform: uppercase;
    }
    .theses {
        &__item {
            margin-right: 70px;
            &:nth-child(2){
                margin-top: 30px;
                margin-left: 50px;
            }
        }
    }
}
.blank {
    @media screen and (max-width: 570px){
        width: 570px;
        margin-left: -60px;
    }
    @media screen and (max-width: 480px){
        margin-left: -110px;
        padding-left: 30px;
    } 
    background: $orange-gradient;
    box-shadow: 8px 10px 33px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    &__image {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 260px;
        @media screen and (max-width: 576px){
            margin-left: -75px;
        }
        @media screen and (max-width: 480px){
            margin-left: -10px;
            width: 230px;
        }
    }
    &__decor {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 150px;
        color: #fff;
        margin-right: -15px;
        margin-top: -5px;
        @media screen and (max-width: 1200px){
            margin-top: 5px;
        }
        @media screen and (max-width: 768px){
            margin-left: 200px;
        }
        @media screen and (max-width: 570px){
            margin-left: 120px;
        }
        @media screen and (max-width: 480px){
            margin-left: 110px;
        }
    }
    &__body {
        margin: 28px 20px;
        line-height: 130%;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 15px;
        width: 250px;
        @media screen and (max-width: 1200px){
            width: 400px;
            margin-top: 50px;
            margin-bottom: 40px;
        }  
        @media screen and (max-width: 570px){
            margin-right: 40px;
        }     
        @media screen and (max-width: 480px){
            align-self: center;
            margin-right: 230px;
        }   
    }
}

.bold {
    font-weight: 700;
}
.section.advantages{
    overflow-x: hidden;
    .advantages__title{
        margin-top: 100px;
        width: 550px;
        text-align: end;  
        
        h3{
            font-size: 36px;
            line-height: 110%;
            &:not(.accent){
                font-weight: normal;
            }
        }
        @media screen and (max-width: 765px){
            width: 530px;
        }
        @media screen and (max-width: 568px){
            width: 280px;
            h3{
                font-size: 24px;
            }
        }
    }
    .advantages__image{
        @media screen and (max-width: 568px){
            img{
                width: 280px;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    .advantages__decor{
        position: absolute;
        margin-top: -220px;
        margin-left: 150px;
        width: 900px;
        height: 900px;
        object-fit: contain;
        object-position: center;
        @media screen and (max-width: 1200px){
            margin-top: -60px;
            margin-left: 550px;
            height: 870px;
        }
        @media screen and (max-width: 765px){
            margin-top: -200px;
            height: 810px;
            margin-left: 120px;
        }
        @media screen and (max-width: 576px){
            margin-top: -150px;
            height: 710px;
        }
    }
    .container{
        height: 1100px;
        @media screen and (max-width: 765px){
            height: 1600px;
        }
        @media screen and (max-width: 576px){
            height: 1600px;
        }
    }
    .advantages-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 55px;
        position: relative;
        @media screen and (max-width: 1200px){
            margin-top: 100px;
        }
        @media screen and (max-width: 765px){
            margin-top: 270px;
        }
    }
    .advantages__list {
        position: absolute;
        top: 0;
    }
    .advantages__button{
        position: absolute;
        bottom: 100px;
        left: 50%;
        margin-left: 15px;
        transform: translate(-50%);
        @media screen and (max-width: 1200px){
            bottom: -100px;
            margin-left: 0;
        }
        @media screen and (max-width: 765px){
            bottom: -470px;
        }
    }
    .advantages-list {
        &__item {
            width: 160px;
            position: relative;
            margin-top: 130px;
            text-align: center;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            @media screen and (max-width: 1200px){
                width: 140px;
            }
            @media screen and (max-width: 765px){
                width: 120px;
                font-size: 14px;
            }
            &::after{
                position: absolute;
                content: attr(data-id);
                font-weight: bold;
                font-size: 48px;
                line-height: 110%;
                color: #fff;
                left: 50%;
                transform: translate(-50%);
                top: -90px;
                z-index: 100;
                margin-left: 3px;
                font-family: 'Oswald';
                @media screen and (max-width: 568px){
                    font-size: 32px;
                    top: -62px;
                }
            }
            &::before{
                position: absolute;
                content: '';
                background: url('../assets/icons/ICON__ITEM.png') no-repeat center / contain;
                width: 180px;
                height: 170px;
                font-weight: bold;
                font-size: 48px;
                line-height: 110%;
                color: #fff;
                top: -150px;
                left: 50%;
                transform: translate(-50%);
                @media screen and (max-width: 568px){
                    width: 100px;
                    top: -130px;
                }
            }
            &:nth-child(1){
                margin-left: -80px;
                margin-top: 100px;
            }
            &:nth-child(2){
                margin-top: 170px;
                margin-left: -165px;
            }
            &:nth-child(3){
                margin-left: -180px;
                margin-top: 170px;
            }
            &:nth-child(4){
                margin-left: -70px;
            }
            &:nth-child(5){
                margin-top: -600px;
                margin-left: 490px;
            }
            &:nth-child(6){
                margin-left: 590px;
                margin-top: 170px;
            }
            &:nth-child(7){
                margin-left: 580px;
                margin-top: 150px;
            }
            &:nth-child(8){
                margin-left: 500px;
                margin-top: 140px;
            }
            @media screen and (max-width: 1200px){
                &:nth-child(1){
                    margin-top: 60px;
                    margin-left: -70px;
                }
                &:nth-child(2){
                    margin-top: 140px;
                    margin-left: -140px;
                    &::after{
                        margin-left: 13px;
                    }
                    &::before{
                        margin-left: 10px;
                    }
                }
                &:nth-child(3){
                    margin-left: -120px;
                    margin-top: 140px;
                }
                &:nth-child(4){
                    margin-left: -70px;
                }
                &:nth-child(5){
                    margin-top: -580px;
                    margin-left: 350px;
                }
                &:nth-child(6){
                    margin-left: 420px;
                    margin-top: 140px;
                }
                &:nth-child(7){
                    margin-left: 400px;
                }
                &:nth-child(8){
                    margin-left: 350px;
                    margin-top: 140px;
                }
            }
            @media screen and (max-width: 765px){
                &:nth-child(1){
                    margin-top: 0;
                    margin-left: -50px;
                }
                &:nth-child(2){
                    margin-top: -80px;
                    margin-left: 130px;
                    &::after{
                        margin-left: 3px;
                    }
                    &::before{
                        margin-left: 0;
                    }
                }
                &:nth-child(3){
                    margin-left: 300px;
                    margin-top: 10px;
                }
                &:nth-child(4){
                    margin-left: -50px;
                    margin-top: 590px;
                }
                &:nth-child(5){
                    margin-top: 20px;
                    margin-left: 130px;
                }
                &:nth-child(6){
                    margin-left: 310px;
                    margin-top: -90px;
                }
                &:nth-child(7){
                    margin-top: 230px;
                    margin-left: 40px;
                }
                &:nth-child(8){
                    margin-top: -25px;
                    margin-left: 210px;
                }
            }
            @media screen and (max-width: 568px){
                &:nth-child(1){
                    margin-top: -150px;
                    margin-left: 50px;
                }
                &:nth-child(2){
                    margin-top: 30px;
                    margin-left: 160px;
                }
                &:nth-child(3){
                    margin-left: 10px;
                    margin-top: 10px;
                }
                &:nth-child(4){
                    margin-left: 0;
                    margin-top: 470px;
                }
                &:nth-child(5){
                    margin-top: -40px;
                    margin-left: 150px;
                }
                &:nth-child(6){
                    margin-left: 70px;
                    margin-top: 80px;
                }
                &:nth-child(7){
                    margin-top: 85px;
                    margin-left: 0;
                }
                &:nth-child(8){
                    margin-top: -55px;
                    margin-left: 170px;
                }
            }
        }
    }    
}
.courses {
    overflow: hidden;
    padding-bottom: 100px;
    &__decor-1 {
        position: absolute;
        bottom: 0;
        @media screen and (max-width: 1200px){
            bottom: auto;
            top: 130px;
        }
    }
    &__decor-2 {
        position: absolute;
        right: -440px;
        @media screen and (max-width: 1500px){
            right: -340px;
        }
        @media screen and (max-width: 1200px){
            bottom: 0;
            right: 0;
            object-fit: contain;
            object-position: center;
            width: 320px;
        }
        @media screen and (max-width: 480px){
            bottom: 20px;
            right: -250px;
            width: 520px;
        }
    }
    &__title {
        font-size: 72px;
        line-height: 110%;
        text-transform: uppercase;
        @media screen and (max-width: 480px){
         font-size: 55px;
        }
    }
    &__list {
        margin-top: 60px;
        @media screen and (max-width: 1200px){
            margin-top: 0;
        }
        @media screen and (max-width: 768px){
            margin-top: 20px;
        }
    }
    &__remark {
        color: #FF1400;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 40px;
        text-align: center;
        z-index: 1;
    }
    position: relative;
    .container {
    }
    .accent {
    }
    .list {
        display: flex;    
        @media screen and (max-width: 1200px){
            flex-wrap: wrap;
        }   
        @media screen and (max-width: 480px){
            justify-content: center;
        }
        &__item {
            &:not(:last-child){
                margin-right: 25px;
            }
            @media screen and (max-width: 1200px){
                margin-top: 60px;
            }
            @media screen and (max-width: 768px){
                margin-top: 40px;
                &:not(:last-child){
                    margin-right: 0;
                }
                &:nth-child(2n + 1){
                    margin-right: 25px;
                }
                margin-left: 25px;
            }
            @media screen and (max-width: 568px){
                margin-left: 0;
            }
            @media screen and (max-width: 480px){
                justify-content: center;
                &:nth-child(2n + 1){
                    margin-right: 0;
                }
            }
        }
    }
    .course {
        font-family: 'Oswald';
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 195px;
        text-align: center;
        position: relative;
        padding: 15px 7px 100px 7px;
        background-color: #DEF1FF;
        border-radius: 5px;
        @media screen and (max-width: 480px){
            width: 280px;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
            background-color: #008CCF;
            color: #fff;
            .course__term {
                color: #98F3FF;
            }
        }
        &:nth-child(5){
            &::before{
                content: '';
                width: 36px;
                height: 36px;
                background: url('../assets/icons/ICON__APPLY.svg');
                position: absolute;
                left: 5px;
                top: 50px;
            }
        }
        &:nth-child(2){
            .course__title {
                margin-top: 0;
                margin-bottom: 15px;
            }
        }
        &__title {
            font-size: 20px;
            line-height: 110%;
            height: 44px;
            margin-top: 15px;
        }
        &__image {
            object-fit: contain;
            object-position: top;
            height: 110px;
            width: 80px;
        }
        &__term {
            font-size: 36px;
            line-height: 130%;
        }
        &__target-title {
            font-size: 24px;
            line-height: 120%;
        }
        &__target-value {
            font-size: 48px;
            line-height: 110%;
        }
        &__button {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 35px;
            button{
                padding: 10px;
            }
            width: 170px;
        }
    }
    .button-wrapper {
    }
    .button {
    }
    .button-decor {
    }
}

.reviews {
    background: url('../assets/images/IMG__BG-REVIEW.png') no-repeat center / cover;
    padding-bottom: 75px;
    padding-top: 100px;
    &__title{
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .nav-container{
        top: -450px;
        z-index: 10;
        @media screen and (max-width: 480px){
            top: -550px;
        }
    }

    .swiper-wrapper{
        transition-timing-function: linear;
    }
    .swiper-container {
        .swiper-pagination-bullets {
            align-items: center;
            justify-content: center;
            display: flex;
            .swiper-pagination-bullet {
                opacity: 1;
                width: 30px;
                height: 30px;
                background-color: #BEBEBE;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
                -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
                outline: none !important;
                &:not(:last-child){
                    margin-right: 38px;
                }
                &.swiper-pagination-bullet-active {
                    width: 60px;
                    height: 60px;
                    background: $main-gradient;
                    @media screen and (max-width: 768px){
                        width: 45px;
                        height: 45px;
                    }
                }
            }            
        }        
        .swiper-button-next,
        .swiper-button-prev {
            width: 65px;
            height: 65px;
            @media screen and (max-width: 480px){
                width: 45px;
                height: 45px;
            }
            background: url('../assets/icons/ICON__BTN-ACTIVE.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateX(-25px);
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
            -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
            outline: none !important;
            
            &::after{
                content: none;
            }
            &.swiper-button-disabled {
                opacity: 1;
                background-image: url('../assets/icons/ICON__BTN-INACTIVE.svg');
            }
        }
        .swiper-button-next {
            transform: rotate(180deg) translateX(-25px);
        }
    }
    .container:not(.nav-container) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    .review-inner {
        margin-right: -70px;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        @media screen and (max-width: 768px){
            margin-right: 0;
            padding-top: 40px;
        }
    }
    .review {
        &__image {
            width: 250px;
            height: 250px;
            @media screen and (max-width: 768px){
                width: 200px;
                height: 200px;
            }
            @media screen and (max-width: 568px){
                width: 180px;
                height: 180px;
            }
            @media screen and (max-width: 480px){
                width: 150px;
                height: 150px;
                border-width: 5px;
            }
            object-fit: cover;
            object-position: center;
            border: 15px solid #fff;
            box-shadow: 1px 1px 25px -10px #717171;
            position: relative;
            &:nth-child(1){
                transform: rotate(-8deg);
            }
            &:nth-child(2){
                transform: rotate(15deg);
            }
        }
        @media screen and (max-width: 1200px){
            .container{
                flex-direction: column;
            }
        }
    }
    .description {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 512px;
        height: 512px;
        @media screen and (max-width: 768px){
            width: 440px;
            height: 440px;
        }
        background: url('../assets/images/IMG__COMMENT.svg') no-repeat center / contain;
        &__title {
            margin-top: 80px;
            width: 350px;
            margin-left: 110px;
            margin-bottom: 15px;
            font-family: 'Oswald';
            font-weight: 600;
            font-size: 24px;
            line-height: 136%;
            @media screen and (max-width: 768px){
                margin-left: 150px;
                margin-bottom: 5px;
            }
        }
        &__body {
            font-size: 16px;
            width: 350px;
            margin-left: 10px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 136%;
            overflow: auto;
            height: 290px;
            @media screen and (max-width: 768px){
                font-size: 15px;
                margin-left: 25px;
                height: 200px;
            }
            @media screen and (max-width: 480px){
                max-width: 280px;
            }
        }
    }
}

.weight {
    overflow: hidden;
    margin-top: 130px;
    padding-bottom: 150px;
    &__img {
        object-fit: contain;
        object-position: center;
        width: 780px;
        margin-right: 30px;
        margin-left: -250px;
        @media screen and (max-width: 1200px){
            position: absolute;
            top: 170px;
        }
        @media screen and (max-width: 768px){
            width: 690px;
            top: 130px;
        }
        @media screen and (max-width: 480px){
            top: 250px;
        }
    }
    &__description {
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .description {
        position: relative;
        &__title {
            font-size: 64px;
            text-transform: uppercase;
            line-height: 105%;
        }
        &__image {
            position: absolute;
            top: 100px;
            @media screen and (max-width: 1200px){
                top: 600px;
            }
            @media screen and (max-width: 768px){
                top: 530px;
            }
            @media screen and (max-width: 480px){
                top: 750px;
            }
        }
        &__subtitle {
            font-size: 36px;
            text-transform: lowercase;
            line-height: 105%;
            margin-bottom: 70px;
            @media screen and (max-width: 1200px){
                margin-bottom: 700px;
            }
            @media screen and (max-width: 768px){
                margin-bottom: 550px;
            }
        }
        &__body {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 136%;
        }
    }
    
}
.footer{
    background: #268719;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        line-height: 150%;
        padding-top: 75px;
        padding-bottom: 56px;
        color: #fff;
        a{
            color: #fff;
        }
    }
    
}
.summary {
    overflow: hidden;
    position: relative;
    &__decor-1 {
        position: absolute;
        left: 0;
        top: 150px;
        @media screen and (max-width: 1200px){
            object-fit: contain;
            object-position: center;
            width: 800px;
            top: 100px;
            left: -50px;
        }
        @media screen and (max-width: 768px){
            width: 500px;
            top: 150px;
        }
        @media screen and (max-width: 568px){
            width: 500px;
            top: 80px;
        }
    }
    &__decor-2 {
        position: absolute;
        right: -550px;
        bottom: -100px;
        @media screen and (max-width: 1200px){
            right: -300px;
        }
        @media screen and (max-width: 768px){
            object-fit: contain;
            object-position: center;
            width: 1200px;
            right: -350px;
        }
        @media screen and (max-width: 480px){
            width: 1200px;
            right: -450px;
        }
    }
    &__title {
        padding: 50px;
        padding-left: 30vw;
        position: absolute;
        top: 0;
        left: -30vw;
        border-radius: 0 100px 100px 0;
        background: $main-gradient;
        font-weight: bold;
        font-size: 42px;
        line-height: 120%;
        text-transform: uppercase;
        color: #fff;
        @media screen and (max-width: 1200px){
            font-size: 34px;
        }
        @media screen and (max-width: 768px){
            font-size: 24px;
        }
        @media screen and (max-width: 568px){
            font-size: 22px;
            padding: 25px;
            padding-left: 30vw;
        }
    }
    &__product {
        margin-right: 40px;
        margin-bottom: -200px;
        @media screen and (max-width: 1200px){
            margin-bottom: -40px;
            margin-right: 0;
        }
        .inner{
            display: flex;
            flex-direction: row;
            position: relative;
        }
        
    }
    .product{
        margin-top: -70px;
        display: grid;
        grid-template: auto / 480px auto ;
        @media screen and (max-width: 1200px){
            grid-template: repeat(3, auto) / 100%;
            margin-top: 100px;
        }
        &__awards {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__image {
            width: 350px;
            object-position: center;
            object-fit: contain;
            @media screen and (max-width: 480px){
                width: 270px;
            }
        }
        &__decor-1 {
            position: absolute;
            right: 10px;
            bottom: -20px;
            @media screen and (max-width: 1200px){
                bottom: 100px;
                right: -40px;
            }
            @media screen and (max-width: 768px){
                margin-bottom: 10px;
            }
            @media screen and (max-width: 568px){
                margin-top: 150px;
            }
            @media screen and (max-width: 480px){
                bottom: -70px;
            }
        }
        .inner{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-right: -20px;
            @media screen and (max-width: 1200px){
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                margin-right: 0;
            }
            @media screen and (max-width: 576px){
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
        &__advantages {

            margin-left: -50px;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            @media screen and (max-width: 1200px){
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                margin-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            @media screen and (max-width: 576px){
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                margin-top: 50px;
            }
            @media screen and (max-width: 480px){
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .awards {
        margin-bottom: 27px;
        @media screen and (max-width: 1200px){
            justify-content: space-between;
        }
        @media screen and (max-width: 576px){
            justify-content: center;
            &__item{
                &:not(:last-child){
                    margin-right: 15px;
                }
                .award__img{
                    width: 60px;
                }
            }
        }
    }
    .advantage {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        @media screen and (max-width: 576px){
            margin-bottom: 0;
        }
        &__image {
            width: 50px;
            height: 50px;
            object-fit: contain;
            object-position: center;
            background: $orange-gradient;
            border-radius: 50%;
            padding: 10px;
        }
        &__title {
            width: 160px;
            font-family: 'Oswald';
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;
            margin-top: 5px;
            @media screen and (max-width: 576px){
                width: 150px;
            }
            @media screen and (max-width: 480px){
                width: 120px;
                margin: 10px;
            }
        }
    }
    
    &__form{
        margin-right: 170px;
        @media screen and (max-width: 1200px){
            margin-right: 0;
            align-self: flex-start;
        }
        @media screen and (max-width: 768px){
            margin-bottom: 10px;
        }
        @media screen and (max-width: 568px){
            margin-top: 150px;
        }
    }
    .container {
        padding-top: 200px;
        @media screen and (max-width: 568px){
            padding-top: 100px;
        }
    }
    .wrapper {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1200px){
            flex-direction: column;
        }
    }
    
}
