@import 'normalize.css';
@import 'fonts.scss';
@import 'varriables.scss';
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
}
.thanks {
    padding: 15px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__product,
    &__logo {
        width: 380px;
        object-position: center;
        object-fit: contain;
        @media screen and (max-width: 500px){
            width: 280px;
        }
    }
    &__title {
        font-size: 72px;
        line-height: 110%;
        color: $blue;
        text-align: center;
    }
    &__description {
        font-size: 24px;
        line-height: 110%;
        max-width: 1200px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__product{
        width: 360px;
        @media screen and (max-width: 500px){
            width: 280px;
        }
    }
}
