$accent-font-color: #008CCF;
$main-color: #1D1D1D;
$green: #6CB71D;
$main-gradient: linear-gradient(259.35deg, $green 34.08%, #208318 88.43%);
$orange-gradient: linear-gradient(3.33deg, #FF0000 2.31%, #FF7A00 96.84%);
$red-gradient: linear-gradient(3.33deg, #FF0000 2.31%, #FF7A00 96.84%);
$red: #FF1000;
$blue: #008CCF;
$sub-blue: #DEF1FF;
$footer-color: #268719;
$first-screen-bg: #DEF1FF;